.nav-header {
  background-color: #272727;
  font-family: Roboto;
  padding: 5px 30px;
}
.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.website-logo {
  height: 36px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}
.logout-desktop-btn {
  background-color: #6366f1;
  width: 90px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  border-width: 0;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
